body {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
}

*{
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 0 !important;
}

navbar{
    margin-top: 200px;
    padding-top: 200px;
}

.nav-header .navbar-brand#logo {
    margin-top: 30px;
}

.navbar-nav li a {
 line-height: 50px;
}

ul.nav a:hover { color: #000 !important; }

#footer {
    background-color: #2D2D2D;
    height: auto;
    color: #fff;
    margin-bottom: 0px;
}

#footer ul{
    margin-top: 30px;
    list-style: none;
}


.splitter{
    height:20px;
    background-color: #2D2D2D;
}


.previews{
    margin-top: 100px;
}
.previews div{
    height: 200px;
    width: 200px;
    position: relative;
}


.navbar .brand, .navbar .nav > li > a:hover {
    color:#2D2D2D;
}

.jumbotron{
    height: 200px;
    background: url('/Images/mountain.png') center center no-repeat;
    text-align: center;
    margin-bottom: 0;
    box-shadow:inset 5px 0px 10px 2px black;
}

.jumbotron h2{
    font-size: 40px;
    color:#fff;
    margin-top:-20px;
}

.jumbotron p{
    color:#fff;
}

#adress{
    font-weight: bold;
    font-size: 17px;
    color:#ff7b00 ;
}

#adress span{
    color: #fff;
}

#phone{
    font-style: italic; 
}

#phone span{
    color: #fff;
}

#mail{
     font-style: italic;
}

#mail span{
    color: #fff;
}

#footer  ul li{
    height: 40px;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

#footer ul li img{
    height: 30px;
    margin-bottom: 20px;
}

span{
    margin-right: 5px;
}

h2{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}


h3{
    text-align: center;
    margin-top: 0px;
}


hr.fancy-line { 
    border: 0; 
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
    background: #f4f4f4;
}

#products img{
    width: 260px;
    height: 200px;
    padding: 5px 5px;
}



.btn-danger, .btn-danger:active, .btn-danger:visited {
    background-color: #ff7b00 !important;
    border-color: #fff;
    border: none;
}

.btn-danger:hover{
    background-color: #ffa556 !important;
}

.test div{
    height: 240px;
    padding: 20px 20px;
}

.test .top-grid{
    height: 80px;
}
.test .top-grid h4{
    font-size: 40px;
}

.test div h5{
    padding: 20px 20px;
    font-size: 24px;
}

.test div p{
    padding-bottom: 20px;
}

.t1{
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;

}
.t2{
    border-bottom: 1px solid #EEEEEE;
}
.t3{
    border-right: 1px solid #EEEEEE;
}

.t4{
    border-right: 1px solid #EEEEEE;
}

.t5{
    border-right: 1px solid #EEEEEE;
}

#date{
    font-size: 12px;
    text-align: center;
    margin-bottom: 7%;
}

input[type="text"]
{
    background-color:rgba(255, 123, 0, 0.6);
    border: none;
    color: #fff;
    height: 34px;
    width: 180px;
    padding-left: 5px;
    padding-right: 5px;
}


.img-cards div{
    background-size: cover;
    height: 200px;
}


#pic1{
    background-image: url(../Images/men1.jpg);
}

#pic2{
    background-image: url(../Images/men2.jpg);
}


#pic3{
    background-image: url(../Images/men3.jpg);
}


#pic4{
    background-image: url(../Images/men4.jpg);
}


#pic5{
    background-image: url(../Images/women1.jpg);
}


#pic6{
    background-image: url(../Images/women2.jpg);
}


#pic7{
    background-image: url(../Images/women3.jpg);
}

#pic8{
    background-image: url(../Images/women4.jpg);
}

.sale-info h6{
    font-size: 24px;
    text-align: center;
}



@media screen and (max-width: 989px) {
   


    .t1{
    border-right: none;
    }
   
    .t3{
    border-right: none;
    }

    .t4{
    border-right: none;
    }

    .t5{
     border-right: none;
    }
}